/* Global Layout Set-up */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* Text formatting */



.text__summary {
  color: blue;
}

.text__title {
  color: blue;
  text-transform: uppercase;
}
